<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= stylesheet 'foundation.min', 'application' %>
  </head>
  <body>
    <div class='row'>
      <%= yield %>
    </div>
  </body>
</html>
