<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
    <%= stylesheet 'foundation.min', 'application' %>
  </head>
  <body>
    <h1>Posts</h1>
    <%= yield %>
  </body>
</html>
